.tops-contents-box
    //@tweetsで後に呼び出す
    .tops-contents-box__contents
    .tops-contents-box__contents
    .tops-contents-box__contents
    .tops-contents-box__contents
    .tops-contents-box__contents
    .tops-contents-box__contents
    .tops-contents-box__contents
    .tops-contents-box__contents
    .tops-contents-box__contents
    .tops-contents-box__contents
    .tops-contents-box__contents
    .tops-contents-box__contents
    .tops-contents-box__contents
    .tops-contents-box__contents
    .tops-contents-box__contents
    .tops-contents-box__contents
    .tops-contents-box__contents
    .tops-contents-box__contents
    .tops-contents-box__contents
    .tops-contents-box__contents